.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.561);
    display: flex;
    justify-content: center;
    align-items: center;
}