.form {
  display: flex;
  flex-direction: column;
  background-color: #a4c2db;
  border-radius: 5px;
  height: 50vh;
  width: 30vw;
  justify-content: space-evenly;
}
input {
  margin: 1rem;
  height: 5vh;
  font-size: 2rem;
}
.background {
  h1 {
    padding: 2rem;
  }
  background-color: #a4c2db;
  border-radius: 10px;
}
