#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.btnContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.card
{background-color: rgb(215, 220, 156);
  padding: 2em;
}
button{
  margin: 1vw;
background-color: bisque;}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}



