.box{
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: -3px -3px  4px inset rgba(82, 81, 81, 0.633);
}
.boardContainer
{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(96, 96, 97);

}
.symbol{
    font-size: 120px;
}
.winner
{
  margin: 0;
  padding: 0;
}
.reset
{
  margin: 0;
  padding: 0;
}