.posts {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(192, 249, 255);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.allPosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 20px;
  }
  
  .box {
    background-color: #f0f0f0;
    border: 1px solid rgb(192, 249, 255);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  