.card {
  width: 20rem;
  height: 20rem;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  align-items: center;
   img {
    width: 10rem;
    height: 10rem;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
  }
}
.container{
  display: flex;
  flex-direction: column;
  button{
    color: white;
    margin: 0;
     &:hover{
        scale: 1.1;
        background-color: rgba(15, 31, 206, 0.878);
    }
  }
}
.price {
  background-color: rgb(110, 204, 63);
  width: fit-content;
  margin: 0 auto;
 top: 2rem;
  position: relative;
  font-weight: bold;
}
