.balloon {
  position: absolute;
  background-image: url('../../../assets/images/balloon.jpeg');
  width: 200px;
  height: 220px;
}
.pop{
  position: absolute;
  background-image: url('../../../assets/images/BOOM.jpeg');
  width: 240px;
  height: 185px;
}
h1{
  margin: 0;
}
