#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.links
{
  font-size: 3rem;
  color: yellow;
}

.about-link {
  display: inline-block;
  color: #ff6347; /* צבע בסיסי */
  text-decoration: none;
  font-size: 55px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
}

.about-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #ff6347, #1e90ff, #32cd32, #ff6347); /* קשת צבעים */
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.about-link:hover {
  color: #1e90ff; /* משנה את צבע הטקסט */
}

.about-link:hover::before {
  transform: translateX(0); /* קו צבעוני מופיע */
}

.about-link:hover {
  transform: rotate(7deg) scale(1.1); /* הטקסט גדל ומסתובב מעט */
  transition: transform 0.2s ease;
}

