.posts{
   
    background-color: rgb(80, 185, 94);
    height: 100%;
    color:white;

    a{
        color: white;
        text-decoration: none;
    }
    .postsList{
        display:flex;
        flex-direction: column;
    }

    .postLink {
        display: block;
        margin-bottom: 1rem;  /* או כל מרווח אחר שתרצה */
      }
}

.pics{
    width: 15rem;
    height: 15rem;
}