.todoItem {
   display: flex; /* יישור אופקי בין תיבת הסימון לטקסט */
   align-items: center; /* יישור אנכי לאמצע */
   margin-bottom: 10px; /* רווח בין פריטים ברשימה */
}

.remove{
   text-decoration: line-through;
   font-size: 24px;
}

.title{
}

.titleDisable{
   display: none;
}

.title:hover {
      color: rgb(6, 96, 230); 
      cursor: pointer; 
      font-weight: bold;
      transition: color 0.3s ease, text-decoration 0.3s ease;


  }

.done
{
   font-size: 2rem;
   background-color: burlywood;
}

.removed{
   font-size: 2rem;
   background-color:darkkhaki
}

.displayOff{
   display: none;
}

.show{

}

.select {
   width: 100%;
   max-width: 250px;
   padding: 10px 14px;
   font-size: 16px;
   border: 2px solid #4caf50;
   border-radius: 8px;
   background-color: #f8f8f8;
   color: #333;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   outline: none;
   
   &:focus {
     border-color: #388e3c;
     background-color: #fff;
     box-shadow: 0 0 8px rgba(56, 142, 60, 0.5);
   }
 
   &:hover {
     background-color: #e8f5e9;
   }
 }
 
