body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #ffffff;
  }
  .container {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 90%;
  }

  .btnSecondary{
    padding: 10px 18px;
    font-size: 40px;
    font-weight: bold;
    color: blue;
    background: #ffffff;
    border: 1px solid #004d40;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    margin: 10px;
  }