.card{
    width: 30%;
    height: 25vh;
    background-color: rgba(51, 149, 198, 0.51);
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
}
.input{
    width: 70%;
    margin: 0 auto;
}