.todo-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .todo-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
  }
  
  .todo-input-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  
    input {
      flex-grow: 1;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
  
      &:focus {
        border-color: #bed8ff;
        outline: none;
      }
    }
  
    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #fff;
      background-color: #7ba5e6;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color:#c5d1e4;
        color: #3f3e3e;
      }
    }
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem;
      border-bottom: 1px solid #ddd;
      font-size: 1.5rem;
  
      &:last-child {
        border-bottom: none;
      }
  
      &.done span {
        text-decoration: line-through;
        color: #3f3e3e;
      }


    div p {
      font-size: 1rem; 
      color: #666; 
    }
  
      .todo-actions {
        display: flex;
        gap: 0.5rem;
  
        button {
          padding: 0.25rem 0.5rem;
          font-size: 0.9rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &.done-btn {
            background-color: #8ca592;
            color: #fff;
  
            &:hover {
              background-color: #c3e1ca;
              color: #3f3e3e;
            }
          }
  
          &.remove-btn {
            background-color: #c28c91;
            color: #fff;
  
            &:hover {
              background-color: #f4c8cc;
              color: #3f3e3e;
            }
          }
        }
      }
    }
  }
