.dogsList{
    display:flex;
    flex-direction: column;
}

.dogList{
    button{
        width: 10rem;
        height: 3rem;
        margin-bottom: 10px;
        padding: 10px;
        background-color: lightgray;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: darkgray;
        }
        &:focus{
            background-color: darkgray;
        }
        
    }
}