.background{
margin: 13px;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vh;
    background-color: rgba(201, 204, 184, 0.829);
    display: flex;
    justify-content: center;
    align-items: center;
}