.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(74, 80, 150);
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;

    .textarea{
        width: 90%;
        margin: 0 auto;
        resize: none;
        font-size: 2rem;
    }
}