.checkoutCard {
  background-color: rgb(48, 168, 232);
  position: absolute;
  top: 20%;
  right: 200px;
  width: 250px;
  height: 50%;
  color: white;
  h3 {
    margin-top: 200px;
  }
  button {
    background-color: rgb(59, 130, 228);
    color: white;
    width: 150px;
    border: double rgba(0, 0, 0, 0.674) 2px;
    &:hover {
      background-color: rgb(87, 150, 239);
      scale: 1.1;
    }
  }
}
